.grid {
    background-color: black;
}
.grid-square {
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    cursor: pointer;

    /*
     * Do not allow text to be selectable
     * https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
     */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.grid-square:hover {
    background-color: darkgrey;
}
.grid-square-selectable {
    background-color: lightblue;
}
.grid-square-selectable:hover {
    background-color: lightcyan !important;
}
.grid-square-commit-src {
    background-color: yellow;
}
.grid-square-commit-src:hover {
    background-color: lightyellow !important;
}
.grid-square-commit-dst {
    background-color: yellow;
}
.grid-square-commit-dst:hover {
    background-color: lightyellow !important;
}
.grid-square-container {
    text-align: center;
}
.piece-friendly {
    color: green;
    font-weight: bold;
}
.piece-enemy {
    color: red;
}
.chat-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: red;
}
.chat-message {
    margin: 0;
}
.chat-greeting {
    font-style: italic;
    font-color: lightgrey;
}
#chatlog {
    padding: 20px;
    height: 30vh;
    overflow: auto;
}
#chat {
    outline: 2px solid;
    padding: 20px;
}