{{define "commonjs"}}

<script type="text/javascript" src="/lib/tether.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/common/jsonrpc.js"></script>
<script type="text/javascript" src="/js/common/nav.js"></script>
<script type="text/javascript" src="/js/common/util.js"></script>

{{end}}