{{define "history"}}
<div class="container">
    <div class="history-container">
        <table class="table table-sm table-hover">
            <tbody id="history">
            </tbody>
        </table>
    </div>
</div>
{{end}}