{{define "overlaysetting"}}
<div class="custom-controls-stacked">
    <label class="custom-control custom-checkbox">
        <input type="checkbox" id="overlay-setting-ctrl-showLastMove" class="overlay-setting-ctrl custom-control-input" checked>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Show last move</span>
    </label>
    <label class="custom-control custom-checkbox">
        <input type="checkbox" id="overlay-setting-ctrl-showLastUnit" class="overlay-setting-ctrl custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Show last unit</span>
    </label>
    <label class="custom-control custom-checkbox">
        <input type="checkbox" id="overlay-setting-ctrl-showCollisions" class="overlay-setting-ctrl custom-control-input" checked>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Show collisions</span>
    </label>
</div>
{{end}}