{{define "game"}}
<!DOCTYPE html>
<html>

{{template "head" .}}

<body>
    {{template "nav" .}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="container margin-vert">
                    {{template "status" .}}
                    <div class="container">
                        <table id="game" class="table-bordered table-centered"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="margin-vert">
                    {{template "chat" .}}
                </div>
                <div class="custom-controls-stacked margin-vert">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" id="overlay-setting-ctrl-showLastMove" class="overlay-setting-ctrl custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Show last move</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" id="overlay-setting-ctrl-showLastUnit" class="overlay-setting-ctrl custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Show last unit</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" id="overlay-setting-ctrl-showCollisions" class="overlay-setting-ctrl custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Show collisions</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>

{{template "commonjs" .}}
<script type="text/javascript" src="/js/game/board.js"></script>
<script type="text/javascript" src="/js/game/chat.js"></script>
<script type="text/javascript" src="/js/game/unit.js"></script>
<script type="text/javascript" src="/js/game/api.js"></script>
<script type="text/javascript" src="/js/game/status.js"></script>
<script type="text/javascript" src="/js/game/main.js"></script>

</html>
{{end}}