{{define "game"}}
<!DOCTYPE html>
<html>

{{template "head" .}}

<body>
    {{template "nav" .}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 push-lg-8 col-xl-6 push-xl-6">
                <div class="container margin-vert">
                    <div class="game-status">
                        <h3>Game Status</h3>
                        <ul>
                            <li id="ctrlStatusRole"></li>
                            <li id="ctrlStatusP1"></li>
                            <li id="ctrlStatusP2"></li>
                        </ul>
                    </div>
                    <button class="btn btn-danger" type="button" id="ctrlReset">Reset Game</button>
                    <button class="btn btn-success" type="button" id="ctrlSitP1">Sit as White</button>
                    <button class="btn btn-success" type="button" id="ctrlSitP2">Sit as Black</button>
                </div>
                <hr>
                {{template "chat" .}}
            </div>
            <div class="col-md-12 col-lg-8 pull-lg-4 col-xl-6 pull-xl-6">
                <div class="container margin-vert">
                    <table id="game" class="table-bordered table-centered"></table>
                </div>
            </div>
        </div>
    </div>
</body>

{{template "commonjs" .}}
<script type="text/javascript" src="/js/game/board.js"></script>
<script type="text/javascript" src="/js/game/chat.js"></script>
<script type="text/javascript" src="/js/game/unit.js"></script>
<script type="text/javascript" src="/js/game/api.js"></script>
<script type="text/javascript" src="/js/game/status.js"></script>
<script type="text/javascript" src="/js/game/main.js"></script>

</html>
{{end}}