{{define "game"}}
<!DOCTYPE html>
<html>

{{template "head" .}}

<body>
    {{template "nav" .}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="container margin-vert">
                    {{template "status" .}}
                    <div class="container">
                        <table id="game" class="table-bordered table-centered"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="margin-vert">
                    {{template "chat" .}}
                </div>
                <div class="margin-vert">
                    {{template "overlaysetting" .}}
                </div>
            </div>
        </div>
    </div>
</body>

{{template "commonjs" .}}
<script type="text/javascript" src="/js/go/gopherjs.js"></script>
<script type="text/javascript" src="/js/game/renderer/board.js"></script>
<script type="text/javascript" src="/js/game/renderer/overlay.js"></script>
<script type="text/javascript" src="/js/game/renderer/square.js"></script>
<script type="text/javascript" src="/js/game/chat.js"></script>
<script type="text/javascript" src="/js/game/unit.js"></script>
<script type="text/javascript" src="/js/game/api.js"></script>
<script type="text/javascript" src="/js/game/status.js"></script>
<script type="text/javascript" src="/js/game/main.js"></script>

</html>
{{end}}