{{define "lobby"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
    
    {{template "nav" .}}
    
    <br>
    
    <div class="container-fluid">
        <h5>Create a game</h5>
        <button id="gameCreateSmall" class="btn btn-info">Small</button>
        <button id="gameCreateLarge" class="btn btn-info">Large</button>
        <hr>
        <h5>Join a game</h5>
        <ul id="gameList"></ul>
    </div>
</body>

{{template "commonjs" .}}
<script type="text/javascript" src="/js/lobby/main.js"></script>

</html>
{{end}}