.margin-vert {
    margin-top: 20px;
}
.table-centered {
    margin: auto;
    float: none;
}
.overlay-container {
    opacity: 0.5;
    position: absolute;
    top: 0;
    pointer-events: none;
}
.overlay-container p {
    color: magenta;
}
.overlay-container-win {
    background-color: lightgreen;
}
.overlay-container-lose {
    background-color: lightpink;
}
.overlay-container-draw {
    background-color: yellow;
}
.overlay-arrow {
    stroke-width: 5px;
    position: absolute;
    top: 0;
}
.overlay-arrow-friendly {
    stroke: green;
    fill: green;
}
.overlay-arrow-enemy {
    stroke: red;
    fill: red;
}
.grid {
    background-color: black;
}
.grid-coord {
    background-color: white;
    text-align: center;
    padding: 0 0.25rem;
    font-size: 0.5rem;
}
.grid-square {
    background-color: lightgrey;
    cursor: pointer;

    /*
     * Do not allow text to be selectable
     * https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
     */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.grid-square-endzone {
    background-color: lemonchiffon;
}
.grid-square-endzone-friendly {
    background-color: lightgreen;
}
.grid-square-endzone-enemy {
    background-color: lightpink;
}
.grid-square:hover {
    background-color: lightcyan;
}
.grid-square-selectable {
    background-color: lightblue;
}
.grid-square-selectable-hovered {
    background-color: lightcyan !important;
}
.grid-square-commit-src {
    background-color: yellow;
}
.grid-square-commit-src:hover {
    background-color: lightyellow !important;
}
.grid-square-commit-dst {
    background-color: yellow;
    -webkit-animation: blink-commit 0.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    0% {background-color: yellow;}
}
@-webkit-keyframes blink-commit {
    0% {background-color: yellow;}
    50% {background-color: lightyellow;}
    100% {background-color: yellow;}
}
/* small devices */
@media (max-width: 575px) {
    .grid-square-container {
        text-align: center;
        height: 100%;
        width: 100%;
        min-height: 35px;
        max-height: 35px;
        min-width: 35px;
        max-width: 35px;
    }
    .piece {
        height: 35px;
        width: 35px;
        stroke-width: 2;
        font-size: 12px;
    }
    .overlay-collision {
        color: darkorange;
        font-size: 17.5px;
        -webkit-transform: translate(-50%, -50%);
    }
}
/* medium devices */
@media (min-width: 576px) and (max-width: 991px) {
    .grid-square-container {
        text-align: center;
        height: 100%;
        width: 100%;
        min-height: 50px;
        max-height: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    .piece{
        height: 50px;
        width: 50px;
        stroke-width: 3;
        font-size: 15px;
    }
    .overlay-collision {
        color: darkorange;
        font-size: 25px;
        -webkit-transform: translate(-50%, -50%);
    }
}
/* large devices */
@media (min-width: 992px) {
    .grid-square-container {
        text-align: center;
        height: 100%;
        width: 100%;
        min-height: 75px;
        max-height: 75px;
        min-width: 75px;
        max-width: 75px;
    }
    .piece{
        height: 75px;
        width: 75px;
        stroke-width: 3;
        font-size: 20px;
    }
    .overlay-collision {
        color: darkorange;
        font-size: 37.5px;
        -webkit-transform: translate(-50%, -50%);
    }
}
.piece text {
    text-anchor: middle;
}
.piece-1 {
    fill: white;
}
.piece-1 text {
    stroke: black;
}
.piece-2 {
    fill: black;
}
.piece-2 text {
    stroke: white;
}