.status-header {
    margin: 20px 0 20px;
}
.status-player {
    text-align: center;
}
.status-score {
    position: relative;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
}
.status-score-black {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 2pt white;
}
.status-score-white {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 2pt black;
}
.status-score-current-player {
    box-shadow: 0 0 8pt 8pt #5cb85c; 
}